{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <title>27W - 문의하기</title>

    <style>
        .nav-now, .nav-link:hover{
            color: #ffA500 !important;
        }
        .account:link, .account:visited, .account:hover{
            color: black;
            text-decoration: none;
        }
        a, a:link, a:visited, a:hover{
            text-decoration: none;
            color:black;
        }
        .banner{
            text-align: center;
            color:white;
        }
        .num{
            width: 10%;
        }
        .title{
            width: 70%;
        }
        .date{
            width: 10%;
        }
        .who{
            width: 10%;
        }
        .board{
            text-align: center;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lecture_board' %}">강의</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue_board' %}">이슈</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner bg-dark">
        <br>
        <h3>문의하기</h3>
        <br>
    </div>
    <br>

    {% if user.is_superuser %}
    <p style="text-align: right; margin-right: 1%;"><a href="{% url 'contact_create' %}">글쓰기</a></p>
    {% endif %}

    <hr>

    <div class="board">
        <table width="100%">
            <tr>
                <th scope="col" class="num">글 번호</th>
                <th scope="col" class="title">글 제목</th>
                <th scope="col" class="date">작성일</th>
                <th scope="col" class="who">작성자</th>
            </tr>
            
            {% for contact in posts %}
            <tr>
                <td class="num"><p>{{ contact.id }}</p></td>
                <td class="title"><a href="{% url 'contact_detail' contact.id %}"><p>{{ contact.title }}</p></a></td>
                <td class="date"><p>{{ contact.created_at }}</p></td>
                <td class="who"><p>{{ contact.user }}</p></td>
            </tr>
            {% endfor %}
        </table>
    
        <br><br>
        {%if posts.has_previous%}
        <a href="?page=1" class="btn btn-outline-secondary btn-sm">First</a>
        <a href="?page={{posts.previous_page_number}}" class="btn btn-outline-secondary btn-sm">Previous</a>
        {%endif%}
    
        <span> {{posts.number}}</span>
        <span> of </span>
        <span>{{posts.paginator.num_pages}} </span>
    
        {%if posts.has_next%}
        <a href="?page={{posts.next_page_number}}" class="btn btn-outline-secondary btn-sm">Next</a>
        <a href="?page={{posts.paginator.num_pages}}" class="btn btn-outline-secondary btn-sm">Last</a>
        {%endif%}
        <br><br>
    </div>
{% endblock %}