{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>27W - 문의하기</title>

    <style>
        .nav-now, .nav-link:hover{
            color: #ffA500 !important;
        }
        .account:link, .account:visited, .account:hover{
            color: black;
            text-decoration: none;
        }
        a, a:link, a:visited, a:hover{
            text-decoration: none;
            color:black;
        }
        .banner{
            text-align: center;
            color:white;
        }
        .num{
            width: 10%;
        }
        .title{
            width: 70%;
        }
        .date{
            width: 10%;
        }
        .who{
            width: 10%;
        }
        .board{
            text-align: center;
        }
        .write_btn {
            width:60px;
            background-color: #ffA500;
            border: none;
            border-radius:10px;
            padding: 10px 0;
            color: #fff;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 3px;
            cursor: pointer;
        }
        .write_btn:hover {
            background-color: #3c3d40;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lecture_board' %}">강의</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue_board' %}">이슈</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner bg-dark">
        <br>
        <h3>문의하기</h3>
        <br>
    </div>
    <br>

    {% if user.is_authenticated %}
    <p style="text-align: right; margin-right: 3%;">
        <a style="color: #fff;"
            class="write_btn"
            href="{% url 'contact_create' %}">글쓰기
        </a>
    </p>
    {% endif %}

    <div class="board">
        <hr>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link disabled">번호</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">제목</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">작성일</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">작성자</a>
            </li>
        </ul>

        <hr>

        {% for contact in posts %}
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link disabled">{{ contact.id }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'contact_detail' contact.id %}">{{ contact.title }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">{{ contact.created_at|date:"y.m.d" }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">{{ contact.user }}</a>
            </li>
        </ul>
        {% endfor %}

        <br><br>
        {%if posts.has_previous%}
        <a href="?page=1" class="btn btn-outline-secondary btn-sm">First</a>
        <a href="?page={{posts.previous_page_number}}" class="btn btn-outline-secondary btn-sm">Previous</a>
        {%endif%}
    
        <span> {{posts.number}}</span>
        <span> of </span>
        <span>{{posts.paginator.num_pages}} </span>
    
        {%if posts.has_next%}
        <a href="?page={{posts.next_page_number}}" class="btn btn-outline-secondary btn-sm">Next</a>
        <a href="?page={{posts.paginator.num_pages}}" class="btn btn-outline-secondary btn-sm">Last</a>
        {%endif%}
        <br><br>
    <div>
{% endblock %}