{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <title>27W - 문의하기</title>

    <style>
        .nav-now, .nav-link:hover{
            color: #ffA500 !important;
        }
        .account:link, .account:visited, .account:hover{
            color: black;
            text-decoration: none;
        }
        a, a:link, a:visited, a:hover{
            text-decoration: none;
            color:black;
        }
        .banner{
            text-align: center;
            color:white;
        }
        .num{
            width: 10%;
        }
        .title{
            width: 70%;
        }
        .date{
            width: 10%;
        }
        .who{
            width: 10%;
        }
        .content{
            margin-left: 5%;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lecture_board' %}">강의</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue_board' %}">이슈</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner bg-dark">
        <br>
        <h3>문의하기</h3>
        <br>
    </div>
    <br>

    <div style="margin-left:5%;">
        <h4>제목: {{ contact.title }}</h4>
        <p>내용: {{ contact.text }}</p>
        <br><br>
        <a href="{% url 'contact_board' %}" class="btn btn-outline-success btn-sm">목록</a>
        {% if user.is_superuser %}
        <a href="{% url 'contact_delete' contact.id %}" class="btn btn-outline-danger btn-sm">삭제</a>
        {% endif %}
        <br>
        <hr>
    </div>

    <div id="answer" class="content">
        {% if user.is_superuser %}
        <form method="POST" action="{% url 'answer' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ contact.id }}" name="contact">
            답변 작성 : <input type="text" name="text">
            <button type="submit" class="btn btn-warning btn-sm">작성하기</button>
        </form>
        {%endif%}
        <br>

        {% for answer in contact.answer.all %}
        <hr>
        <div class="answer">
            <strong>{{ answer.admin }}</strong>
            <div class="date">{{ answer.created_at }}</div>
            <p>{{ answer.text|linebreaks }}</p>
        </div>
        {% empty %}
        <p>No answer here yet :(</p>
        {% endfor %}
    </div>
{% endblock %}