{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>27W - 수강신청 확인</title>

<style>
    .nav-now, .nav-link:hover{
        color: #ffA500 !important;
    }
    .account:link, .account:visited, .account:hover{
        color: black;
        text-decoration: none;
    }
    a, a:link, a:visited, a:hover{
        text-decoration: none;
    }
    .banner{
        text-align: center;
        color:white;
    }
    .confirm{
        margin-left: 30%;
        margin-right: 30%;
    }
    .pay{
        text-align: right;
    }
</style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-now" href="{% url 'lecture_board' %}">강의<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue_board' %}">이슈</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner bg-dark">
        <br>
        <h3>LECTURE</h3>
        <br>
    </div>
    <br>

    <div style="text-align: center;">
        <h3>수강 신청 확인</h3>
    </div>

    <div class="confirm">
        <div>
            <img src="">
        </div>
        <div>
            <h3>{{ lecture.title }}</h3>
            <br>
            <h5>(클래스 수강 기간)</h5>
            <br>
            <h6>{{ lecture.description }}</h6>
        </div>
        <br>

        <div>
            <div>
                {% load humanize %}
                <h4>금액</h4>
                <p>{{ lecture.price|intcomma }}원</p>
            </div>
            <div class="pay">
                <a href="{% url 'payment' lecture.id %}" class="btn btn-warning">결제하기</a>
                <a href="" class="btn btn-danger">삭제</a>
            </div>
        </div>
    </div>
    <br>
{% endblock %}