{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <title>27W - 강의</title>

    <style>
        .nav-now, .nav-link:hover{
            color: #ffA500 !important;
        }
        .account:link, .account:visited, .account:hover{
            color: black;
            text-decoration: none;
        }
        a, a:link, a:visited, a:hover{
            text-decoration: none;
            color:black;
        }
        ul{
            list-style: none;
        }
        ul li{
            display: inline;
        }
        .banner{
            text-align: center;
            color:white;
        }
        #navber{
            overflow: hidden;
            margin-left: 3%;
        }
        .content {
            padding-top: 10px;
        }
        .total-content{
            margin-left: 3%;
            margin-right: 35%;
        }
        #side-menu{
            position: fixed;
            top: 30%;
            right: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 2%;
            padding-right: 15%;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-now" href="{% url 'lecture_board' %}">강의<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue_board' %}">이슈</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="banner bg-dark">
        <br>
        <h3>LECTURE</h3>
        <br>
    </div>
    <br>

<div class="total-content">
    <div>
        <h2>강의 소개</h2><br>
        <img src="{{ lecture.image.url }}" style="max-width: 100%;">
    </div>

    <div id="side-menu">
        {% load humanize %}
        <h3>강의명: {{ lecture.title }}</h3>
        <h5>가격: {{ lecture.price|intcomma }}원</h5>
        <h6>Like: (좋아요 수)</h6>
        <a href="{% url 'confirm_order' lecture.id %}" class="btn btn-warning">클래스 참여</a>
    </div>

    <div id="navbar">
        <hr>
        <ul>
            <li><a href="#info">클래스 소개</a></li> | 
            <li><a href="#curriculum">커리큘럼</a></li> | 
            <li><a href="#benefit">패키지 혜택</a></li> | 
            <li><a href="#creater">크리에이터</a></li> | 
            <li><a href="#review">추천 및 후기 {{ lecture.review.count }}개</a></li> | 
            <li><a href="#refund">환불정책</a></li>
        </ul>
        <hr>
    </div>

    <div>
        <div id="info" class="content">
            <h3>{{ lecture.title }}</h3>
            <p>{{ lecture.description }}</p>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    
        <hr>
    
        <div id="curriculum" class="content">
            <h3>커리큘럼</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    
        <hr>
    
        <div id="benefit" class="content">
            <h3>패키지 혜택</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    
        <hr>
    
        <div id="creater" class="content">
            <h3>크리에이터</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    
        <hr>

        <div id="review" class="content">
            <h3>추천 및 후기 총 {{ lecture.review.count }}개</h3>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'review' %}">
                {% csrf_token %}
                <input type="hidden" value="{{lecture.id}}" name="lecture">
                댓글 작성 : <input type="text" name="text"><br>
                별점: <input type="number" name="score" style="width: 10%;">
                <button type="submit" class="btn btn-secondary">작성</button>
            </form>
            {%endif%}
            <br>

            {% for review in lecture.review.all %}
            <hr>
            <div class="review">
                <strong>{{ review.user }}</strong>
                <div class="date">{{ review.created_at }}</div>
                <p>( 별점: {{ review.score }}점 ) {{ review.text|linebreaks }}</p>
            </div>
            {% empty %}
            <p>No reviews here yet :(</p>
            {% endfor %}
        </div>

        <hr>

        <div id="refund">
            <h4>환불정책</h4><br>
            <p>환불이 불가합니다. 그냥 들으세요. 어쩔 수 없습니다. 다음부터는 신중하게 구매하세요.</p>
        </div>
    </div>
</div>
{% endblock %}