<!DOCTYPE html>
<html lang="ko">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>27W - 강의</title>

    <style>
        a{
            text-decoration: none;
        }
        ul{
            list-style: none;
            text-align: center;
        }
        ul li{
            display: inline;
        }
        .banner{
            text-align: center;
        }
        .lecture_form{
            padding-left: 30%;
        }
    </style>
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><img src="{% static '27watt_class.png' %}" alt=""></a>
    </header>
    
    <h1>27 WATT CLASS - 강의 등록</h1>

    {% if user.is_authenticated %}
    <h2> Welcome, {{user.username}} </h2>
    <center><a href="{% url 'logout' %}">Logout</a></center>
    {% else %}
    <center><a href="{%url 'login' %}">  Login</a></center>
    {%endif%}
    <center><a href="{%url 'contact_board' %}">문의하기</a></center>

    <hr>

    <nav>
        <div>
            <a href="{% url 'index' %}">홈</a>
            <a href="{% url 'community_board' %}">커뮤니티</a>
            <a href="{% url 'lecture_board' %}">강의</a>
            <a href="{% url 'issue_board' %}">이슈</a>
        </div>
    </nav>

    <hr>

    <div>
        <div class="banner">
            <h3>새 게시물 작성</h3>
        </div>

        <form class="lecture_form" action="{% url 'submit' %}">
            <p>
                카테고리: 
                <select name="category" style="width: 39%;">
                    <option value="None">카테고리 선택</option>
                    <option value="Art">예술</option>
                    <option value="Design">디자인</option>
                    <option value="Social Media">소셜미디어</option>
                </select>
            </p>
            <p>제목: <input type="text" placeholder="제목을 입력하세요." name="title" size="74"/></p>
            <p>가격: <input type="text" placeholder="가격을 입력하세요." name="price" size="74"/></p>
            <p>사진: <input type='file' name="image" accept=".png, .jpg, .jpeg" /></p>
            <p>컨텐츠 내용: <textarea cols="68" rows="10" placeholder="내용을 입력하세요." name="content"></textarea></p>
            <button type="submit">저장</button>
            <button type="button"><a href="{% url 'lecture_board' %}">목록</a></button>
        </form>
    </div>

    <hr>

    <footer class="text-muted bg-dark pt-5 pb-5">
        <div class="container">
            <p class="mb-1 text-white">이십칠와트클래스 27WATT CLASS</p>
            <p class="mb-1 text-white">상호명 : 이십칠와트</p>
            <p class="mb-1 text-white">대표 : 김선웅 010-4713-6915</p>
            <p class="mb-1 text-white">사업자등록번호 : 847-45-00467</p>
            <p class="mb-1 text-white">62, Sinchon-ro 3-gil, Seodaemun-go, Seoul, Republic of Korea</p><br>
            <p class="mb-1 text-white">Copyright 27WATT 2019 All rights reserved</p>
        </div>
    </footer>
</body>
</html>