{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
<title>27W - 이슈</title>
<style>
    .nav-now,
    .nav-link:hover {
        color: #ffA500 !important;
    }

    .account:link,
    .account:visited,
    .account:hover {
        color: black;
        text-decoration: none;
    }

    a,
    a:link,
    a:visited,
    a:hover {
        text-decoration: none;
        color: black;
    }

    .card {
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .issue_board {
        text-align: center;
    }

    .more {
        text-align: right;
    }

    ul {
        list-style: none;
        text-align: center;
    }

    ul li {
        display: inline;
    }

    .banner {
        text-align: center;
        color: white;
    }

    .category {
        text-align: center;
    }

    .category-item {
        text-align: center;
        display: inline-block;
        width: 20%;
    }
</style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lecture_board' %}">강의</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-now" href="{% url 'issue_board' %}">이슈<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="banner bg-dark">
    <br>
    <h3>ISSUE</h3>
    <br>
</div>

<br>

<div class="category">
    <h4 style="text-align: center;">CATEGORY</h4><br>
    <div class="category-item">
        <a href="">
            <img src="{% static 'images/art.png' %}" style="width:20%; height:20%;"><br>
            <p class="btn btn-warning btn-sm">예술</p>
        </a>
    </div>
    <div class="category-item">
        <a href="">
            <img src="{% static 'images/design.png' %}" style="width:20%; height:20%;"><br>
            <p class="btn btn-warning btn-sm">디자인</p>
        </a>
    </div>
    <div class="category-item">
        <a href="">
            <img src="{% static 'images/social_media.png' %}" style="width:20%; height:20%;"><br>
            <p class="btn btn-warning btn-sm">소셜미디어</p>
        </a>
    </div>
</div>

{% if user.is_superuser %}
<a href="{% url 'issue_create' %}">
    <input class="btn btn-info" style="background-color: #ffA500; border-color:#ffA500; float: right; margin-right: 1%"
        type="button" value="글쓰기"> </a>
{% endif %}

<div class="board">
    {% for issue in issues %}
    {% if forloop.counter0|divisibleby:3 %}
    <br><br><br>
    {% endif %}
    <div class="card" style="width: 18rem; display:inline-block; border-color:#ffA500;">
        {% if issue.image %}
        <img src="{{ issue.image.url }}" class="card-img-top" alt="issue_image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ issue.title }}</h5>
            <p class="card-text">{{ issue.text }}</p>
            <p class="card-text">{{ issue.category }}</p>
            <a href="{% url 'issue_detail' pk=issue.id %}" class="btn btn-outline-secondary btn-sm">더보기</a>
            <a href="{}" class="btn btn-outline-danger btn-sm">삭제</a>
        </div>
    </div>
    {% endfor %}
    <br><br>
    {%if issue.has_previous%}
    <a href="?page=1" class="btn btn-outline-secondary btn-sm">First</a>
    <a href="?page={{posts.previous_page_number}}" class="btn btn-outline-secondary btn-sm">Previous</a>
    {%endif%}

    {%if issues.has_next%}
    <a href="?page={{issues.next_page_number}}" style="position: absolute; left : 52%; "> Next</a>
    <a href="?page={{issues.paginator.num_pages}}" style=" position: absolute; left : 46%;">Last</a>
    {%endif%}

    <center>
        <span> {{issues.number}}</span>
        <span> of </span>
        <span>{{issues.paginator.num_pages}} </span> </center>

</div>

<br>
{% endblock %}