{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <script src="issuedetail.js"></script>
    <title>27W - 이슈</title>
    <style>
        .nav-now, .nav-link:hover{
            color: #ffA500 !important;
        }
        .account:link, .account:visited, .account:hover{
            color: black;
            text-decoration: none;
        }
        a, a:link, a:visited, a:hover{
            text-decoration: none;
            color:black;
        }
        .banner{
            text-align: center;
            color:white;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community_board' %}">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lecture_board' %}">강의</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-now" href="{% url 'issue_board' %}">이슈<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- 글 본문 -->
            <h1>{{ issue.title }}</h1>
            <hr>
            {% if issue.image %}
            <img src="{{ issue.image.url }}">
            {% endif %}
            <p>{{ issue.text|linebreaksbr }}</p>
        </div>
    </div>
        <a href="/issues/">List</a>
        <a href="{% url "issue_update" issue.issue_id %}">
            <input class="btn btn-info" type="button" value="수정하기">
        </a>
        
        </body>
</div>
    <tbody>
        <h3>Comment</h3>
            <form action="write_ok.jsp" method="post" encType="multiplart/form-data">
                <tr>
                    <th>제목: </th>
                    <td><input type="text" placeholder="제목을 입력하세요. " name="subject"/><br></td>
                </tr>
                
                <tr>
                    <th>내용: </th>
                    <td><textarea cols="50" rows="5" placeholder="내용을 입력하세요. " name="content"></textarea><br></td>
                </tr>
                <button type="button" class="btn btn-outline-dark">등록하기</button>
            </form>
    </tbody>
    <br>
{% endblock %}
