<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="issuedetail.js"></script>
        <title>27W - 이슈 - 디테일</title>
    </head>
    <body>
        <h1>27 WATT CLASS - 이슈</h1>
    
        <a href="{% url 'index' %}">홈</a>
        <a href="{% url 'community_board' %}">커뮤니티</a>
        <a href="{% url 'lecture_board' %}">강의</a>
        <a href="{% url 'issue_board' %}">이슈</a>
           
        <h3>Comment</h3>
        <table>
            <thead>
                <caption> Comment </caption>
            </thead>
            <input type="text" placeholder="제목을 입력하세요. " name="subject"/>
            <!--파일 업로드를 이미지(jpeg, gif, png)로만 제한-->
            <form method="post" action="..." enctype="multipart/form-data">
                <label for="image">Photo</label>
                <input type = "file"accept = "image /*"name="profile_pt" id="profile_pt" onchange="previewImage(this,'View_area')">
                <!--이미지파일 업로드시 미리보기-->
                <div id='View_area' style='position:relative; width: 100px; height: 100px; color: black; border: 0px solid black; dispaly: inline; '></div>
            </form>

    </body>
</html>