{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <title>27W - 커뮤니티</title>

    <style>
        .nav-now, .nav-link:hover{
            color: #ffA500 !important;
        }
        .account:link, .account:visited, .account:hover{
            color: black;
            text-decoration: none;
        }
        .banner{
            text-align: center;
            color:white;
        }
        #detail_img {
            width:600px;
        }
    </style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">홈</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-now" href="{% url 'community_board' %}">커뮤니티<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lecture_board' %}">강의</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'issue_board' %}">이슈</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="banner bg-dark">
        <br>
        <h3>COMMUNITY</h3>
        <br>
    </div>
    <br>

    <hr>
    
    <br>
    <div class="jumbotron" style="width: 90%; margin-left: 5%; text-align: center;">
        <h2 class="display-4">{{community_detail.title}}</h2>
        <p class="lead">{{user.username}} / {{community_detail.created_at}}</p>        
        <p class="lead">Category : {{community_detail.category}}</p>

        <hr class="my-4">
        <br>
        {% if community_detail.image %}
            <img id="detail_img" src="{{community_detail.image.url}}">
        {% endif %}
        <br><br>
        
        <div>
            <p class="lead">{{community_detail.text|safe}}</p>   
        </div>
        
        <br><br><br>
        <a class="btn btn-dark" href="{% url 'community_update' community_detail.id %}" role="button">수정</a>
        &nbsp;&nbsp;
        <a class="btn btn-dark" href="{% url 'community_delete' community_detail.id %}" role="button">삭제</a>
    </div>
        
    <br><br>
    <div>
        <p style="text-align: left; margin-left: 3%; font-size: 30px;">댓글</p>
        <hr style="border:solid 1px #ffA500">
        
        {% for comment in comments %}
        <!-- Single Comment -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.user }}</h5>
                <h5 class="mt-0">{{ comment.text }}</h5>
                <h5 class="mt-0">{{ comment.created_at }}</h5>
            </div>
        </div>
        {% endfor %}

    </div>
    </div>

    <br><br>
{% endblock %}