<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>27W - 커뮤니티</title>
</head>
<body>
    <h1>27 WATT CLASS - 커뮤니티</h1>
    
    {% if user.is_authenticated %}
    <h2> Welcome, {{user.username}} </h2>
    <center><a href="{% url 'logout' %}">Logout</a></center>
    {% else %}
    <center><a href="{%url 'login' %}">  Login</a></center>
    {%endif%}

    <nav>
        <div>
            <a href="{% url 'index' %}">홈</a>
            <a href="{% url 'community_board' %}">커뮤니티</a>
            <a href="{% url 'lecture_board' %}">강의</a>
            <a href="{% url 'issue_board' %}">이슈</a>
        </div>
    </nav>

</body>
</html>